extends base

block style
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/crud.css')
  link(rel='stylesheet' href='/css/alert.css')

block content
  form#form-add.form-edit
    .content
      input.title(type='text' placeholder='Tiêu đề' value=`${event.title}`)#title
      br
      .spacer
      input.date(type='date' value=`${event.start}`)#start
      |         tới
      input.date(type='date' value=`${event.end}`)#end
      br
      .spacer
      .location
        i.fas.fa-map-marker-alt
          input.input-lo(type='text' placeholder='Thêm vị trí' value=`${event.location}`)#location
      .spacer
      .link
        i.fas.fa-user
          input.input-link(type='text' placeholder='Thêm người tổ chức' value=`${event.organizer}`)#organizer
      .spacer
      .desc
        i.fas.fa-sticky-note
          input.input-desc(type='text' placeholder='Thêm mô tả' value=`${event.description}`)#description
      .button
        a.btn.red-btn.tong(href=`/calendars/${calendarID}` id=`${eventID}`) Hủy
        button.btn.blue-btn.ting(type='submit' id=`${calendarID}`) Lưu
  script.
    function ChangeText(oFileInput, sTargetID) {
    document.getElementById(sTargetID).value = oFileInput.value;
    }

  script(src="/js/edit-event.mjs" type='module')
